:root{
  --fonte-texto: 'Montserrat', sans-serif;
  --fonte-peso1 : 400;
  --fonte-peso2 : 500;
  --fonte-peso3 : 700;
   --branco : #FFFFFF;
   --cinza: #E2E2E2;
   --preto :#000000;
}

body {
  margin: 0;
  font-family: var(--fonte-texto);
  background-color: var(--brnaco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
